@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: hsla(0, 0%, 35%, 0.2);
}

::-webkit-scrollbar {
    width: 10px !important;
    transition: all 1s ease;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 55%, 0.5);
    border-radius: 1rem;
}
